.card{
    border: 1px solid #3a3f50;
    border-radius: 5px;
    min-width: 300px;
    background: #242735;
    padding: 20px;
    margin: 10px;
}
.card__title{
    border-bottom: 1px solid #3a3f50;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}